<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>淘宝众筹</title>
		<link rel="stylesheet" type="text/css" href="./lib/reset.css">
		<link rel="stylesheet" type="text/css" href="./css/test.css">
	</head>
	<body>
		<div class="top-nav">
			<div class="top-nav-left">
				<ul>
					<li class="li-text home">
						<a href="#">首页</a>
						<div class="rightline"></div>
					</li>
					<li class="li-text demo">
						<a href="#">浏览项目</a>
						<div class="rightline"></div>
					</li>
					<li class="li-text help"><a href="#">新手帮助</a></li>
				</ul>
			</div>
			<div class="top-nav-right">
				<ul>
					<li class="li-text upitem">
						<a href="#">发布项目</a>
						<div class="rightline"></div>
					</li>
					<li class="li-text myzc"><a href="#">我的众筹</a></li>
				</ul>
			</div>
		</div>
		<div class="bottom-line"></div>
		<div class="mid-box">
			<div class="mid-box-top">
				<div class="main-box">
					<div class="left">
						<div class="scroll"></div>
						<div class="r-imgbox">
							<a href="#" target="_blank">
								<img src="./img/01.jpg" />
							</a>
							<a href="#" target="_blank">
								<img src="./img/02.jpg" />
							</a>
						</div>
					</div>
					<div class="right">
						<div class="banner1">
							<a href="#" target="_blank">即将开始</a>
							<div class="btns">
								<div class="btn"></div><div class="btn deep"></div>
							</div>	
						</div>
						<div class="img-scroll">
							<div class="imgbox">
								<a href="#">
									<img src="./img/03.jpg" />
								</a>
								<div class="datetime">
									<span>上线日期</span>
									<span>07/24</span>
								</div>
							</div>
							<div class="imgbox">
								<a href="#">
									<img src="./img/04.jpg" />
								</a>
								<div class="datetime">
									<span>上线日期</span>
									<span>07/24</span>
								</div>
							</div>
							<div class="imgbox">
								<a href="#">
									<img src="./img/05.jpg" />
								</a>
								<div class="datetime">
									<span>上线日期</span>
									<span>07/24</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearFloat"></div>
				</div>
			</div>
			<div class="mid-box-bottom">
				<div class="main-box2">
					<div class="data">
						<div class="databox">
							<span class="data-text">累计筹款金额</span>
							<span class="data-num">206834万</span>
							<div class="line"></div>
						</div>
						<div class="databox">
							<span class="data-text">累计支持人数</span>
							<span class="data-num">2543.1万</span>
							<div class="line"></div>
						</div>
						<div class="databox">
							<span class="data-text">单项支持最高金额</span>
							<span class="data-num">3559万</span>
							<div class="line"></div>
						</div>
						<div class="databox">
							<span class="data-text">单项支持最高人数</span>
							<span class="data-num">34.8万</span>
						</div>
					</div>
				</div>		
			</div>
		</div>
		<div class="mid-box-2">
			<div class="title">热门推荐</div>
			<div class="hot-btn-box">
				<span class="text">大家都在看</span>
				<div class="hot-btn">无人机</div>
				<div class="hot-btn">VR</div>
				<div class="hot-btn">机器人</div>
			</div>
			<div class="hot-img-boxs">
				<a class="hot-img-box bg-1">
					<div class="hot-title">1秒精准测温度计</div>
					<div class="text-1">医疗级1秒精准测量温度，让宝宝、牛奶、环境、宠物等测温变简单。</div>
					<div class="text-2">达成率</div>
					<div class="text-3">1052%</div>
				</a>
				<a class="hot-img-box bg-2">
					<div class="hot-title">大圣之大胜</div>
					<div class="text-1">铜师傅力作，全黄铜，纯手绘</div>
					<div class="text-2">达成率</div>
					<div class="text-3">18950%</div>
				</a>
				<a class="hot-img-box bg-3">
					<div class="hot-title">kalar洗衣器</div>
					<div class="text-1">智能无线超声波</div>
					<div class="text-2">达成率</div>
					<div class="text-3">1447%</div>
				</a>
				<a class="hot-img-box bg-4">
					<div class="hot-title">人脸加密U盘</div>
					<div class="text-1">人脸加密U盘，用前“刷”脸，U盘无忧！保护你的隐私。</div>
					<div class="text-2">达成率</div>
					<div class="text-3">5076%</div>
				</a>
				<a class="hot-img-box bg-5">
					<div class="hot-title">三体壁挂智能音箱</div>
					<div class="text-1">FDY开启智能家居音箱壁挂时代.让你享受完美的家居音乐体验.</div>
					<div class="text-2">达成率</div>
					<div class="text-3">1075%</div>
				</a>
			</div>
		</div>
		<div class="good-title">
			<div class="rel-text">类目精选</div>
		</div>
		<div class="good-text">潮品尖货，创造力聚集地</div>

		<!-- 1F -->
		<div class="good-box f1">
			<a class="floor-title">
				<span class="floor-num">1F</span>
				<span class="floor-name">科技</span>
				<div class="dott-line"></div>
			</a>
			<div class="good-list"></div>
		</div>

		<!-- 2F -->
		<div class="good-box f2">
			<a class="floor-title">
				<span class="floor-num">2F</span>
				<span class="floor-name">生活</span>
				<div class="dott-line"></div>
			</a>
			<div class="good-list"></div>
		</div>

		<!-- 3F -->
		<div class="good-box f3">
			<a class="floor-title">
				<span class="floor-num">3F</span>
				<span class="floor-name">设计</span>
				<div class="dott-line"></div>
			</a>
			<div class="good-list"></div>
		</div>

		<!-- 4F -->
		<div class="good-box f4">
			<a class="floor-title">
				<span class="floor-num">4F</span>
				<span class="floor-name">娱乐</span>
				<div class="dott-line"></div>
			</a>
			<div class="good-list"></div>
		</div>

		<!-- 5F -->
		<div class="good-box f5">
			<a class="floor-title">
				<span class="floor-num">5F</span>
				<span class="floor-name">农业</span>
				<div class="dott-line"></div>
			</a>
			<div class="good-list"></div>
		</div>

		<!-- 6F -->
		<div class="good-box f6">
			<a class="floor-title">
				<span class="floor-num">6F</span>
				<span class="floor-name">公益</span>
				<div class="dott-line"></div>
			</a>
			<div class="good-list"></div>
		</div>



		<!-- 引用模版js -->
		<script src="./lib/arttemplate@3.0.0.min.js"></script>
		

		<script type="text/html" id="tmpl1">
			<% for(var i=0,dataLen=data.length;i<dataLen;i++){ %>
					<div class="good-list-box first">
						<img src="<%=data[i].image%>" />
						<div class="good-list-tile1">
							<div class="title1-text-1"><%=data[i].name%></div>
							<div class="title1-text-2">已筹金额 ¥<%=data[i].sum%></div>
						</div>
						<div class="btn-look">查看项目</div>
					</div>
			<% } %>
		</script>
		<script type="text/html" id="tmpl2">
			<% for(var i=0,dataLen=data.length,percent ;i<dataLen;i++){ %>
					<% if(data[i].rate >= 100){ %>
						<%percent = 100;%>
					<% } %>
					<% if(data[i].rate < 100){ %>
						<%percent = data[i].rate;%>
					<% } %>
					
					<div class="good-list-box">
						<a class="imgandtext">
							<div class="this-image">
								<img src="<%=data[i].image%>" />
							</div>
							<div class="this-text"><%=data[i].name%></div>
						</a>
						<div class="tag-btn">
							<% for(var j=0,len=data[i].label.length;j<len;j++){ %>
								<a class="btnClass"><%=data[i].label[j]%></a>
							<% } %>
						</div>
						<div class="jindut">
							<div class="jindu" style="width:<%=percent%>%";></div>
						</div>
						<div class="this-data">
							<div class="daclv">
								<div class="data-num"><%=data[i].rate%></div>
								<div class="data-name">达成率</div>
							</div>
							<div class="money">
								<div class="data-num"><%=data[i].sum%></div>
								<div class="data-name">已筹金额</div>
							</div>
							<div class="people">
								<div class="data-num"><%=data[i].amount%></div>
								<div class="data-name">支持人数</div>
							</div>
						</div>
					</div>
			<% } %>
		</script>

		<script src="./lib/jquery@2.2.4.js" type="text/javascript"></script>
		<script src="./js/tmpl_zc.js" type="text/javascript"></script>
	</body>
</html>